<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Network Selection</title>
    <link rel="shortcut icon" type="image/x-icon" href="./images/logoPicE.png" />
    <script type="text/javascript" src="./javascript/ndf.js"></script>
    <link rel="stylesheet" href="./css/ndfLayout.css">

</head>

<body>
    <h1></h1>
    <div class="bannerCont">
        <h2>Banner </h2>
    </div>
    <div>
    </div>

    <div class="infoCont">
        Logged in User: <br>
        <button> Logout </button> <br>
        <button> Help </button> <br>
        <button> Connect </button> <button> Disconnect </button>
    </div>
    <div>
    </div>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <div class="dirCont">
        <ul>
            <li><a href="#">NetworkName1</a></li>
            <li><a href="#">HubName1</a></li>
            <li><a href="#">Device1</a></li>
        </ul>        
    </div>
    <div class="selectionCont">
        Here will be the different selections for Hub, Network, and Device selections.
    </div>









</body>

</html>