<!DOCTYPE html>
<html>
	<head>
		<title>Network Definition</title>

		<meta charset="utf-8" />
		<!--link href="../static/css/netconfig.css" type="text/css" rel="stylesheet" -->
		<script src="../static/js/index.js" type="text/javascript"></script>


	</head>
	<body>
<form data-bind="submit: buildNDF">
<fieldset>
	<legend>Network Configurations:</legend><br>

	<label>Network ID:</label>
		<input type="text" name="netID" size="16" data-bind:="value: network_ID"/>
</fieldset>


<div>
<br>
<fieldset>
<legend>Policy Control:</legend><br>
<label> PES MODE: </label>
<input type="radio" name="mode" value="manual" checked> Manual
<input type="radio" name="mode" value="autonomous"> Autonomous<br>

<label> PE Algorithm: </label>
<select required>
	<option value="">None</option>
  <option value="alg1">Algorithm 1</option>
  <option value="alg2">Algorithm 2</option>
</select>
</fieldset>
</div>
<div>
<br>
<button type="button">Save</button>
<button type="button">Add Hubs</button>
</div>
</form>



	</body>
</html>
